<!--
/**
 * @author Imelda Medina
 * @version 1.0
 * 2/1/2020
 * 328/Final-Project-328.header.html
 * This is an online dating website. The user will create a profile in this website.
 */-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Final Project</title>
    <!--Favicon-->
    <link rel="icon" type="image/jpg" href="images/heart.jpeg">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

