<include href="views/header.html">
<body>
<div class="jumbotron jumbotron-fluid" id="jumbotron2">
    <div class="container">
        <br>
        <h1 class="display-4 center"> Hey, Good to see you again!</h1>
    </div>
</div>
<form id="main" method="post" action="#">
    <div class="container" >
        <p class="center">Log in to get going</p>
        <label>
            <input id="username" type="text" name="username"  placeholder="Username"><br>
        </label><br>
        <label>
            <input id="password" type="password" name="password"  placeholder="password"><br>
        </label><br>
        <input class="p-2 mb-auto bg-dark text-white" type="submit" name="submit" value="Log in">
        <!--        <input type="button" onclick="alert('Hello World!')" value="Click Me!">-->
    </div><!-- end of div container-->
</form>
</body>
</html>