<include href="views/header.html">
    <include href="views/navbar.html">
<body>
<!-- Full Page Image Header with Vertically Centered Content -->
<form id="main" method="post" action="#">
    <div class="masthead">
        <div class="jumbotron" >
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h1 class="font-weight-light text-light">Welcome to Interstellar Engineering, Where Everything is Possible!</h1>
                    </div>
                </div>
            </div>
        </div>
    <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <img id= "galaxy" src="images/galaxy.jpeg" class="img-fluid max-width: 100%; img-thumbnail  " alt="Responsive image">
        </div>
    </div>
    </div>
</form>

</body>
</html>