<div class="jumbotron" >
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 id="text1"  class="font-weight-light text-light-alt">Interstellar Engineering, where everything is possible! </h1>
                <h1 id="text3" class="font-weight-light text-light-alt">  Welcome,
                    <check if="{{ @_SESSION[name] }}">
                        <true>{{ @_SESSION[name] }}</true>
                        <false>{{ @guest }}</false>
                    </check>
                    !
                </h1>
            </div>
        </div>
    </div>
</div>