<include href="views/header.html"></include>
<include href="views/navbar.html"></include>
<body class="masthead">
<!-- Full Page Image Header with Vertically Centered Content -->
    <form id="main" method="post" action="#">
    <div >
        <include href="views/jumbotron.html"></include>
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                        <h1 class="font-weight-light">Hey, Good to see you again!</h1>
                        <p class="lead">Log in to get going</p>
                        <label>
                            <input id="username" type="text" name="username"  value="Admin"><br>
                        </label><br>
                        <label>
                            <input id="password" type="password" name="password"  value="@dm1n"><br>
                        </label><br>
                        <input class="p-2 mb-auto bg-dark text-white" type="submit" name="submit" value="Log in">
                </div>
            </div>
        </div>
    </div>

<!--     Page Content-->
<!--    <section class="py-5">-->
<!--        <div class="container">-->
<!--            <h2 class="font-weight-light">Page Content</h2>-->
<!--            <p></p>-->
<!--        </div>-->
<!--    </section>-->
    </form>

<script>
    //alert('DELETE later: you need to login to access customize and summary, username Admin: Password: @dm1n')
</script>
</body>
</html>