<!--nav bar-->
<div class="topnav" id="myTopnav">
    <a href="home">Home</a>
    <check if="{{@_SESSION[username]}}">
        <true>
            <a href="logout" class ='log' id="logout">Logout</a>
            <script>logout = document.getElementById('logout')</script>
        </true>
        <false>
            <a href="login" class ='log'>Login</a>
            <a href="newUser" class ='log'>New User</a>
        </false>
    </check>

    <check if="{{@_SESSION[isAdmin]}}">
        <a href="admin">Admin Tools</a>
    </check>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>


