<include href="views/header.html"></include>
<include href="views/navbar.html"></include>
<body class="masthead">
    <div>
        <div class="row  align-items-center text-light">
            <div class="col-12 text-center">
                <h1 class="mb-lg-5">Thank you for your Order {{ @_SESSION[name] }}!</h1>

                <div class="row h-25 align-items-center">
                    <div class="col-12 text-center">
<!--                        <check if="{{  @clicked == @SESSION['rateButton']}}">-->
<!--                            <true>-->
<!--                                <img id= "spaceship" src="images/spaceship2.jpg" class="img-fluid max-width: 100%; img-thumbnail" alt="responsive image">-->
<!--                            </true>-->
<!--                            <false></false>-->
<!--                        </check>-->
<!--                        <check if="{{ @SESSION['rateButton'] == @clicked[2] }}">-->
<!--                            <true>-->
<!--                                <img  src="images/images-7.jpeg"  class="img-fluid max-width: 100%; img-thumbnail" alt="responsive image">-->
<!--                            </true>-->
<!--                            <false></false>-->
<!--                        </check>-->

                        <img id= "spaceship" src="images/images-2.jpeg" class="img-fluid max-width: 100%; img-thumbnail" alt="responsive image">
                    </div>
                </div>
                <h2>Summary</h2>
                Name: {{ @_SESSION[name] }} <br>
                Engine: {{ @eng }} <br>
                Hyperdrive: {{ @hyper }} <br>
                Generator: {{ @gen }} <br>
                Shield: {{ @shield }} <br>
                Purpose: {{ @purp }} <br>
                Color: {{ @col }} <br>

            </div>
        </div>
    </div>
    <script src="script/nav.js"></script>
</body>
</html>