<include href="views/header.html"></include>
<include href="views/navbar.html"></include>
<body>
<form id="main" method="post" action="#">
    <div class="masthead">
        <div class="row  align-items-center">
            <div class="col-12 text-center">
                <h1>Thank you for your Order!</h1>
                <h2>Summary</h2>
                Name: {{@SESSION['starship']->getName() }}  {{@SESSION['starship']->getLast() }}
                Email:{{@SESSION['starship']->getEmail() }}
                Engine:
                Hyperdrive:
                Generator:
                Shield:
                Purpose:
                Color:

            </div>
        </div>
    </div>

</body>
</html>