.jumbotron {
    background-image: url("../images/images.jpeg");
    /*background-color: black;*/
    background-size: 100% 100%;
    border-radius: 16px ;
    background-position: center center;
    margin-left: 130px;
    margin-right: 130px;
    background-repeat: no-repeat;

}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-light{
    font-family: "Courier New", Courier, monospace;
}