a{
    color: white;
}
blockquote {
    background-color: #333333;
    color:gray;
    border-left: 10px solid #ccc;
    margin-right: 200px;
    margin-left: 200px;
    padding: 0.5em 10px;
    font-size: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel-inner img {
    margin: auto;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}



.font-weight-light{
    color: white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
h2{
    color: white;
}
.lead{
    color:white;
}
img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    height: 450px;
    margin-bottom: 40px;

}
input[type=text] {
     background: transparent;
     border: none;
     border-bottom: 1px solid #000000;
    color: white;
 }
input[type=password] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    color: white;
}
.jumbotron {
    background-image: url("../images/images.jpeg");
    height: 200px;
    background-size: 100% 100%;
    border-radius: 5px ;
    /*border: 4px solid white;*/
    background-position: center center;
    /*margin-left: 30px;*/
    /*margin-right: 30px;*/
    background-repeat: no-repeat;
    /*box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}
.masthead {
    height: 100%;
    min-height: 600px;
    background-color: #333333;
    /*background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 600px){
    h1{
        font-size: 10px;
    }
}
.text-light-alt{
    position: absolute;
    /*display: block;*/
    /*top: 19em;*/
    width: 100%;
    width: 75%;
    margin: auto;
    font-size: 1.8em;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /*background-color: white;*/
}
#text1{
    animation-name: anim-1;
}

#text2{
    animation-name: anim-2;
}

#text3{
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 5%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 0; }
}
@keyframes anim-2 {
    0%, 33.33% { left: -100%; opacity: 0; }
    41.63%, 58.29% { left: 5%; opacity: 1; }
    66.66%, 100% { left: 110%; opacity: 0; }
}
@keyframes anim-3 {
    0%, 66.66% { left: -100%; opacity: 0; }
    74.96%, 91.62% { left: 10%; opacity: 1; }
    100% { left: 110%; opacity: 0; }
}
