.jumbotron {
    background-image: url("../images/images.jpeg");
    background-size: 100% 100%;;
    background-position: center;
    margin-left: 30px;
    margin-right: 30px;

}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}